<div class="flex">

    <h1>Entrar no Minhas Finanças</h1>

    <form class="example-form" [formGroup]="loginForm">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            formControlName="email" 
            type="email" 
            matInput  
            placeholder="Ex. pat@example.com" 
          >
          <mat-error>
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width"> 
            <mat-label>Password</mat-label>
            <input 
              formControlName="password"
              type="password" 
              matInput 
            >
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button 
          mat-raised-button 
          color="primary" 
          (click)="login()"
        >
            Entrar
        </button>
    </form>

</div>
