.flex {
    margin: 10px 150px 10px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-form-field {
    width: 20rem;
    margin: 10px;
}

.center {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}