<div class="container">

    <form class="example-form" [formGroup]="formCategoria">
        <mat-form-field class="example-full-width">
            <mat-label>Categoria</mat-label>
            <input 
                matInput 
                placeholder="Ex.: Alimentação" 
                formControlName="nome"
                >
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Descricao</mat-label>
            <textarea 
                    matInput 
                    placeholder="Digite as informações importantes.." 
                    formControlName="descricao"
                    >
                </textarea>
        </mat-form-field>
    </form>

</div>